<center>
<div class = "container justify" id = "container23">
<div id = "">
    <div id = "">
        <h1>About Us</h1>
        
        <p id = "about_p">Welcome to the BookPub.<br>
            BookPub is the global book publishers which offer easy and time saving ways for our authors to publish their new books.
            We proudly offers the user friendly, safe platform and best services to our authors. 
            Currently, we have 150+ authors registered with us and enjpying our services.  </p>
            
        <p id = "about_p">
            Our readers enjoy the best prices for their favourite books. 
            We provide free home delivery services in the Ontario province on the order over $100.
            The readers have freedom to download a purchased ebook for 10 times in the period of 2 months from the date of purchase. 
            BookPub is fastest growing book publishing web application. 
        </p>
        
        <p id = "about_p">
            BookPub was founded in the classroom of Conestoga College by the team of four young developers namely Aroh Olisa (network engineer), 
            Bamidele Mapayi (Web developer), Satvir Kaur (Android App Developer), Vikas Joshi (Web Developer).
        </p>
        
    </div>
    </div>
   
  </div>  
</div>
</center>