
<div id="content">
       <h1> Contact us </h1>
        <form action=" " method="post"  autocomplete="on">
			<p id = "contact_p"> <label for="username" class="iconic user" > Name <span class="required">*</span></label> <input type="text" name="username" id="username"  required="required" placeholder="Hi friend, how may I call you ?"  /> </p>

			<p id = "contact_p"> <label for="usermail" class="iconic mail-alt"> E-mail address <span class="required">*</span></label> <input type="email" name="usermail" id="usermail" placeholder="I promise I hate spam as much as you do" required="required"  /> </p>

			<p id = "contact_p"> <label for="message" class="iconic comment"> Message  <span class="required">*</span></label> <textarea placeholder="Don't be shy, live me a friendly message and I'll answer as soon as possible "  required="required" ></textarea> </p>
			<p id = "contact_p" class="indication"> All fields with <span class="required">*</span> are required</p>
			
			<input type="submit" value="Send message" />		
		</form>		
    </div> 